/*
 *  Copyright 2015 QFast Ahmed El-mawaziny.
 *
 *  Licensed under the Apache License, Version 2.0 (the "License");
 *  you may not use this file except in compliance with the License.
 *  You may obtain a copy of the License at
 *
 *       http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@keyframes valo-no-animate {
  0% {
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes valo-no-animate {
  0% {
    -webkit-transform: none;
  }
}

@-moz-keyframes valo-no-animate {
  0% {
    -moz-transform: none;
  }
}

@mixin qfast {
  .ftextfield-filled-no-animation .v-widget,
  .ftextfield .v-widget,
  .v-slot-ftextfield .v-widget,
  .ftextfield-filled .v-widget,
  .v-slot-ftextfield-filled .v-widget {
    background: #ffffff !important;
  }

  .ftextfield-filled-no-animation .v-has-caption,
  .ftextfield-filled .v-has-caption,
  .v-slot-ftextfield-filled .v-has-caption,
  .ftextfield .v-has-caption,
  .v-slot-ftextfield .v-has-caption {
    border-radius: $v-border-radius;
    padding: 5px 9px !important;
    border: $v-border;
  }

  .ftextfield-foucs .v-has-caption {
    border: 1px solid $v-focus-color;
  }

  .ftextfield-filled-no-animation .v-textfield,
  .ftextfield-filled-no-animation .v-textfield:focus,
  .ftextfield-filled .v-textfield,
  .v-slot-ftextfield-filled .v-textfield,
  .ftextfield-filled .v-textfield:focus,
  .v-slot-ftextfield-filled .v-textfield:focus,
  .ftextfield .v-textfield,
  .v-slot-ftextfield .v-textfield,
  .ftextfield .v-textfield:focus,
  .v-slot-ftextfield .v-textfield:focus {
    border: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    padding: 0 !important;
    height: auto !important;
  }

  .ftextfield .v-caption,
  .v-slot-ftextfield .v-caption {
    background: #ffffff !important;
    opacity: 0 !important;
    font-size: 11px !important;
    line-height: 14px !important;
    padding: 0 !important;
    -webkit-animation: valo-animate-out-slide-up 440ms;
    -moz-animation: valo-animate-out-slide-up 440ms;
    animation: valo-animate-out-slide-up 440ms;
  }

  .ftextfield-filled .v-caption {
    opacity: 1 !important;
    filter: alpha(opacity=100);
    -webkit-animation: valo-animate-in-slide-up 440ms;
    -moz-animation: valo-animate-in-slide-up 440ms;
    animation: valo-animate-in-slide-up 440ms;
    font-size: 11px !important;
    line-height: 14px !important;
    padding: 0 !important;
    background: #ffffff !important;
  }

  .ftextfield-filled-no-animation .v-caption {
    opacity: 1 !important;
    filter: alpha(opacity=100);
    -webkit-animation: valo-no-animate !important;
    -moz-animation: valo-no-animate !important;
    animation: valo-no-animate !important;
    font-size: 11px !important;
    line-height: 14px !important;
    padding: 0 !important;
    background: #ffffff !important;
  }

  .ftextfield-filled-no-animation .v-caption .v-required-field-indicator,
  .ftextfield-filled .v-caption .v-required-field-indicator {
    display: none !important;
  }

  .v-slot-error.ftextfield .v-has-caption,
  .v-slot-error.ftextfield-filled-no-animation .v-has-caption {
    border-color: $v-error-indicator-color !important;
  }

  .v-slot-error.ftextfield-filled-no-animation.ftextfield-foucs .v-caption,
  .v-slot-error.ftextfield-filled-no-animation .v-caption {
    color: $v-error-indicator-color !important;
  }
}
